[project]
	description = An implementation of a native golang HBase Client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeongho Jang (josephjang)
[access "refs/for/refs/*"]
	read = group user/Jeongho Jang (josephjang)
	push = group user/Jeongho Jang (josephjang)
	label-Code-Review = -2..+2 group user/Jeongho Jang (josephjang)
	label-Verified = -1..+1 group user/Jeongho Jang (josephjang)
	rebase = group user/Jeongho Jang (josephjang)
	removeReviewer = group user/Jeongho Jang (josephjang)
	submit = group user/Jeongho Jang (josephjang)
[access "refs/heads/*"]
	read = group user/Jeongho Jang (josephjang)
	create = group user/Jeongho Jang (josephjang)
	push = +force group user/Jeongho Jang (josephjang)
	pushMerge = group user/Jeongho Jang (josephjang)
[access "refs/tags/*"]
	push = +force group user/Jeongho Jang (josephjang)
	pushTag = group user/Jeongho Jang (josephjang)
	pushSignedTag = group user/Jeongho Jang (josephjang)
